<!--
  This example requires updating your template:

  ```
  <html class="h-full bg-gray-900">
  <body class="h-full">
  ```
-->
<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8 backdrop-blur-xs bg-black/20 rounded-xl">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <img src="assets/logo_auth.png" alt="logo" class="mx-auto w-60 h-auto object-contain" />
    <h2 class="mt-10 text-center text-2xl/9 font-bold tracking-tight text-black">Register your account</h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="space-y-6">
      <div>
        <label for="email" class="block text-sm/6 font-medium text-black-100">Email address <span class="text-red-600">*</span></label>
        <div class="mt-2">
          <input id="email" type="email" formControlName="emailAddress" name="email" autocomplete="email" class="block w-full border border-black rounded-md bg-white/5 px-3 py-1.5 text-base text-black outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6" />
        </div>
        @if (formValidator.hasError(registerForm.get('emailAddress')!))
        {
          <div class="mt-2">
            <label class="text-sm/6 text-red-600">
              {{ formValidator.getErrorMessages(registerForm.get('emailAddress')!) }}
            </label>
          </div>
        }
      </div>

      <div>
        <label for="userName" class="block text-sm/6 font-medium text-black-100">User name <span class="text-red-600">*</span></label>
        <div class="mt-2">
          <input id="userName" type="text" formControlName="userName" name="userName" autocomplete="userName" class="block w-full border border-black rounded-md bg-white/5 px-3 py-1.5 text-base text-black outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6" />
        </div>
        @if (formValidator.hasError(registerForm.get('userName')!))
        {
          <div class="mt-2">
            <label class="text-sm/6 text-red-600">
              {{ formValidator.getErrorMessages(registerForm.get('userName')!) }}
            </label>
          </div>
        }
      </div>

      <div>
        <label for="phoneNumber" class="block text-sm/6 font-medium text-black-100">Phone number <span class="text-red-600">*</span></label>
        <div class="mt-2">
          <input id="phoneNumber" type="tel" formControlName="phoneNumber" name="phoneNumber" autocomplete="phoneNumber" class="block w-full border border-black rounded-md bg-white/5 px-3 py-1.5 text-base text-black outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6" />
        </div>
        @if (formValidator.hasError(registerForm.get('phoneNumber')!))
        {
          <div class="mt-2">
            <label class="text-sm/6 text-red-600">
              {{ formValidator.getErrorMessages(registerForm.get('phoneNumber')!) }}
            </label>
          </div>
        }
      </div>

      <div>
        <label for="brokerNumber" class="block text-sm/6 font-medium text-black-100">Broker number</label>
        <div class="mt-2">
          <input id="brokerNumber" type="text" formControlName="brokerNumber" name="brokerNumber" autocomplete="brokerNumber" class="block w-full border border-black rounded-md bg-white/5 px-3 py-1.5 text-base text-black outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6" />
        </div>
        @if (formValidator.hasError(registerForm.get('brokerNumber')!))
        {
          <div class="mt-2">
            <label class="text-sm/6 text-red-600">
              {{ formValidator.getErrorMessages(registerForm.get('brokerNumber')!) }}
            </label>
          </div>
        }
      </div>

      <div>
        <label for="password" class="block text-sm/6 font-medium text-black-100">Password <span class="text-red-600">*</span></label>
        <div class="mt-2">
          <input id="password" type="password" formControlName="password" name="password" autocomplete="password" class="block w-full border border-black rounded-md bg-white/5 px-3 py-1.5 text-base text-black outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6" />
        </div>
        @if (formValidator.hasError(registerForm.get('password')!))
        {
          <div class="mt-2">
            <label class="text-sm/6 text-red-600">
              {{ formValidator.getErrorMessages(registerForm.get('password')!) }}
            </label>
          </div>
        }
      </div>

      <div>
        <label for="confirmPassword" class="block text-sm/6 font-medium text-black-100">Confirm Password <span class="text-red-600">*</span></label>
        <div class="mt-2">
          <input id="confirmPassword" type="password" formControlName="confirmPassword" name="confirmPassword" autocomplete="confirmPassword" class="block w-full border border-black rounded-md bg-white/5 px-3 py-1.5 text-base text-black outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6" />
        </div>
        @if (formValidator.hasError(registerForm.get('confirmPassword')!))
        {
          <div class="mt-2">
            <label class="text-sm/6 text-red-600">
              {{ formValidator.getErrorMessages(registerForm.get('confirmPassword')!) }}
            </label>
          </div>
        }
      </div>

      <div>
        <button type="submit" (click)="onSubmit()" class="cursor-pointer flex w-full justify-center rounded-md bg-indigo-500 px-3 py-1.5 text-sm/6 font-semibold text-white hover:bg-indigo-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">Register</button>
      </div>
    </form>
  </div>
</div>